<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>h1,h2{color:#ff6600}</style>
  </head>
  <body>
    <h1>mixin</h1>
    <h2>mixin单纯调用</h2>
        <p>test mixin</p>
    <h2>mixin带参数</h2>
        <p>wsq</p>
        <ul class="wsq"></ul>
        <li>jade</li>
        <li>node</li>
        <li>php</li>
    <h2>mixin嵌套调用</h2>
        <h4>王苏奇</h4>
            <p>王苏奇</p>
            <ul class="王苏奇"></ul>
            <li>计算机</li>
            <li>高数</li>
    <h2>mixin内联嵌套代码块的调用</h2>
        <h4>inner</h4>
        <p>Hello World!</p>
    <h2>mixin内联嵌套属性的调用</h2>
        <p id="att_id" class="att_class">attr</p>
    <h2>mixin传递可变长参数</h2>
        <p>multipart</p>
        <ul class="multipart">
          <li>nodejs</li>
          <li>jade</li>
          <li>php</li>
          <li>ruby</li>
          <li>perl</li>
          <li>...</li>
        </ul>
  </body>
</html>